[submodule "data/repos/ant-ivy"]
	path = data/repos/ant-ivy
	url = https://github.com/apache/ant-ivy.git
[submodule "data/repos/commons-math"]
	path = data/repos/commons-math
	url = https://github.com/apache/commons-math.git
[submodule "data/repos/opennlp"]
	path = data/repos/opennlp
	url = https://github.com/apache/opennlp.git
[submodule "data/repos/parquet-mr"]
	path = data/repos/parquet-mr
	url = https://github.com/apache/parquet-mr.git
[submodule "data/repos/ws-wss4j"]
	path = data/repos/ws-wss4j
	url = https://github.com/apache/ws-wss4j.git
[submodule "data/repos/archiva"]
	path = data/repos/archiva
	url = https://github.com/apache/archiva.git
[submodule "data/repos/deltaspike"]
	path = data/repos/deltaspike
	url = https://github.com/apache/deltaspike.git
[submodule "data/repos/systemml"]
	path = data/repos/systemml
	url = https://github.com/apache/systemml.git
[submodule "data/repos/commons-lang"]
	path = data/repos/commons-lang
	url = https://github.com/apache/commons-lang.git
[submodule "data/repos/commons-net"]
	path = data/repos/commons-net
	url = https://github.com/apache/commons-net.git
[submodule "data/repos/commons-collections"]
	path = data/repos/commons-collections
	url = https://github.com/apache/commons-collections.git
[submodule "data/repos/commons-beanutils"]
	path = data/repos/commons-beanutils
	url = https://github.com/apache/commons-beanutils.git
[submodule "data/repos/commons-codec"]
	path = data/repos/commons-codec
	url = https://github.com/apache/commons-codec.git
[submodule "data/repos/commons-compress"]
	path = data/repos/commons-compress
	url = https://github.com/apache/commons-compress.git
[submodule "data/repos/commons-configuration"]
	path = data/repos/commons-configuration
	url = https://github.com/apache/commons-configuration.git
[submodule "data/repos/commons-digester"]
	path = data/repos/commons-digester
	url = https://github.com/apache/commons-digester.git
[submodule "data/repos/commons-jcs"]
	path = data/repos/commons-jcs
	url = https://github.com/apache/commons-jcs.git
[submodule "data/repos/commons-imaging"]
	path = data/repos/commons-imaging
	url = https://github.com/apache/commons-imaging.git
[submodule "data/repos/commons-io"]
	path = data/repos/commons-io
	url = https://github.com/apache/commons-io.git
[submodule "data/repos/commons-scxml"]
	path = data/repos/commons-scxml
	url = https://github.com/apache/commons-scxml.git
[submodule "data/repos/commons-validator"]
	path = data/repos/commons-validator
	url = https://github.com/apache/commons-validator.git
[submodule "data/repos/commons-vfs"]
	path = data/repos/commons-vfs
	url = https://github.com/apache/commons-vfs.git
[submodule "data/repos/giraph"]
	path = data/repos/giraph
	url = https://github.com/apache/giraph.git
[submodule "data/repos/jspwiki"]
	path = data/repos/jspwiki
	url = https://github.com/apache/jspwiki.git
[submodule "data/repos/eagle"]
	path = data/repos/eagle
	url = https://github.com/apache/eagle.git
[submodule "data/repos/commons-bcel"]
	path = data/repos/commons-bcel
	url = https://github.com/apache/commons-bcel.git
[submodule "data/repos/commons-dbcp"]
	path = data/repos/commons-dbcp
	url = https://github.com/apache/commons-dbcp.git
[submodule "data/repos/gora"]
	path = data/repos/gora
	url = https://github.com/apache/gora.git
[submodule "data/repos/santuario-java"]
	path = data/repos/santuario-java
	url = https://github.com/apache/santuario-java.git
