[submodule "data/repos/ant-ivy"]
	path = data/repos/ant-ivy
	url = https://github.com/apache/ant-ivy.git
[submodule "data/repos/commons-math"]
	path = data/repos/commons-math
	url = https://github.com/apache/commons-math.git
[submodule "data/repos/opennlp"]
	path = data/repos/opennlp
	url = https://github.com/apache/opennlp.git
[submodule "data/repos/parquet-mr"]
	path = data/repos/parquet-mr
	url = https://github.com/apache/parquet-mr.git
